/* src/components/Cursor.css */
#cursor {
  opacity: 0;
  position: fixed;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #45a9f6;
  filter: blur(5px);
  pointer-events: none;
  z-index: 9999;
  transition: transform 0.4s cubic-bezier(0.22, 1, 0.36, 1);
  transition-property: width, height, background-color, border;
}

.custom-cursor,
.hover-cursor {
  position: fixed;
  width: 40px; /* Adjust size as needed */
  height: 40px; /* Adjust size as needed */
  pointer-events: none;
  z-index: 9998;
  transform: translate(-50%, -50%);
}

.hover-cursor {
  display: none; /* Initially hidden */
}

.crsr_hover {
  height: 70px !important;
  width: 70px !important;
  background-color: transparent !important;
  filter: blur(3px);
  border: 2px solid #a700fe !important;
}

/* Hide custom cursor on mobile or tablet screens */
@media (max-width: 768px) {
  #cursor,
  .custom-cursor,
  .hover-cursor {
    display: none !important;
  }
  * {
    cursor: auto !important;
  }
}